body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  background: #002727;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}
.rules {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
}
.start {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start a {
  text-decoration: none;
  padding: 1rem 2rem;
  background: #002727;
  border: 1px solid #459592;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  color: azure;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.start a:hover {
  background: #459592;
}
