body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002727;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  min-width: 100%;
}
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
}
.question {
  font-size: 2rem;
}
.option {
  display: flex;
  min-width: 40%;
  justify-content: center;
  align-items: center;
  /* min-width: 400px; */
  min-height: 3rem;
  /* background: #459592; */
  border: 1px solid #459592;
  border-radius: 10px;
  margin: 1rem 1rem;
  transition: all 0.3s ease-in-out;
}
.option:hover {
  background: #459592;
}

span {
  color: #459592;
}

@media only screen and (max-width: 1000px) {
  .options {
    flex-direction: column;
  }
  .option {
    min-width: 70%;
  }
  .question {
    margin-bottom: 2rem;
  }
}
